<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>PRADHAN MANTRI GRAM SADAK YOJANA</title>
    <link th:href="@{/static/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div id="content" style="margin:1%">
<body>
   <br/><br/><hr/><br/>
   <center>
       <table>
       	<tr>
       		<td><img th:src="@{/../images/PMGSY.jpg}" src="../images/PMGSY.jpg" class="img-responsive" alt="Responsive image"/></td>
       	<td>
       	<center>
	       	<h2>PRADHAN MANTRI GRAM SADAK YOJANA</h2>
		    <h3>DISTRICT lABORATORY, M.R.R.D.A THANE.</h3>
		    <h4>Test Result Sheet</h4>
        </center>       	</td>
       	<td><img th:src="@{/../images/PMGSY.jpg}" src="../images/PMGSY.jpg" class="img-responsive" alt="Responsive image"/></td>
       </tr>
       </table>
   </center>
   <br/><br/><hr/><br/>
   <dev><h3>
    <ul>
	    <!-- Different Forms -->
        <li><a th:href="@{|/bricksTestResultSheet|}" th:color="white">Bricks</a></li>
        <li><a th:href="@{|/concreteCubesResultSheet|}" th:color="white">Concrete Cubes</a></li>
        <li><a th:href="@{|/paverBlockTestResultSheet|}" th:color="white">Concrete Paver Block</a></li>
        <li><a th:href="@{|/crushedMetalTestResultSheet|}" th:color="white">Curshed Material</a></li>
        <li><a th:href="@{|/extractionTestResultSheet|}" th:color="white">Extraction</a></li>
        <li><a th:href="@{|/hbMetalTestResultSheet|}" th:color="white">HBMetal</a></li>
        <li><a th:href="@{|/metalTestResultSheet|}" th:color="white">Metal</a></li>
        <li><a th:href="@{|/murumTestResultSheet|}" th:color="white">Murum</a></li>
        <li><a th:href="@{|/penetretionTestResultSheet|}" th:color="white">Penetretion</a></li>
        <li><a th:href="@{|/rubbleTestResultSheet|}" th:color="white">Rubble</a></li>
        <li><a th:href="@{|/sandTestResultSheet|}" th:color="white">Sand</a></li>
        <li><a th:href="@{|/tilesTestResultSheet|}" th:color="white">Tiles</a></li>
    </ul></h3>
   </dev>
   <br/><br/><hr/>
</body>
</html>